* {
  box-sizing: border-box;
}
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: rgb(180, 195, 231);
      /* background-image: linear-gradient(blue,purple); */
    }
    
    .container{
        align-content: center;
        background-color: white;
        width: 600px;
        height: 700px;
        border-radius: 3%;
        gap: 6px;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        align-content: center;
    }
    .container h1{
        color: blue;
        text-align: center;
        font-size: 40px;
    }
    .container p{
        text-align: center;
    }

    .score-section{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .score-box{
        width: 200px;
        height: 110px;
        /* background-color: rgb(129, 219, 228); */
        background-image:radial-gradient(rgb(141, 141, 229),rgb(134, 134, 240),rgb(115, 115, 217));
        text-align: center;
        border-radius: 10%;
    }
    .score-box h2{
        font-size: 18px;
    }
    .score{
        font-size: 50px;
        font-weight: bold;
    }
    
    .timer-section{
        background-color: rgb(240, 249, 255);
        padding:10px 150px;
    }
    .timer-section h2{
        text-align: center;
        font-size: 18px;
    }
    .timer-section .timer{
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        color: rgb(210, 28, 28);
    }


    .button-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 10px;
        padding: 10px;
    }

    .click-btn{
        text-align: center;
        background-color: rgb(187, 187, 187);
        width: 470px;
        height: 70px;
        color: white;
        font-size: 20px;
        font-weight:bold;
        border-radius: 4%;
        /* cursor: not-allowed; */
    }
     .start-btn{
        text-align: center;
        /* background-color: rgb(187, 187, 187); */
        background-image:radial-gradient(blue,rgb(71, 71, 227),rgb(110, 110, 188));
        width: 470px;
        height: 35px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight:bold;
        border-radius: 4%;
    }
      .reset-btn{
        text-align: center;
        background-color: rgb(188, 39, 39);
        width: 470px;
        height: 35px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight:bold;
        border-radius: 4%;
    }

    .status-message{
        text-align: center;
        font-weight: bold;
    }

.click-btn:disabled {
    background: linear-gradient(145deg, #555, #333);
    color: #aaa;
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
    opacity: 0.7;
}